.card__box {
  background-color: antiquewhite;
  border: solid 2px black;
  border-radius: 5%;
  height: 300px;
  font-size: 10px;
  width: 200px;
  text-align: center;}

.image-card {
  border: solid 2px black;
  border-radius: 5%;
  max-width: 180px;
}
